*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
     margin: 0;
    padding: 0;


}
.navbar
{
    display: flex;
    justify-content: space-between;
     background-color: #333;
    color: #fff;

}
.brand-tittle
{
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li
{
    list-style: none;
}
.navbar-links li a
{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover
{
    background-color:#555;
}
.toggle-button
{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.vid
{
    width: 100%;
    height: 100%; 
    
}
.card
{
    height: 25rem;
}
.card-img-top
{
    height: 200px;
}
.card-title
{
    margin-top: -12px;
}
.cat-food.cat-food.cat-food
{
    text-align: center;
    gap: 2px;
    color: #fff;
}


.founders
{
    text-align: center;
    color: #fff;
}
.profile-card
{
    display: flex;
    gap: 100px;
    justify-content: center;
    
}
.back
{
     background-color:black;     /* used to create background*/
}
























/* responsive side */


@media (max-width: 400px) {

      .navbar-links
    {
        
        width: 100%;

    }   
    .navbar
    {
        flex-direction: column;
        align-items: flex-start;
    }
     .navbar-links ul
    {   
         width: 100%;         
        flex-direction: column;

    } 

     .navbar-links li
    {
        text-align: center;
    } 

  
}