*
{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  
}
.wraper-grid
{
  display: grid;
  grid-template-columns: minmax(300px 1fr);
  justify-content: center;
  grid-gap: 2rem;
  margin: 3rem;
}
.container
{
  box-shadow: 0px 2px 8px 0px blue;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;


}
.banner-img
{
  position: absolute;
  background-color: black;
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

}
.profile-img
{
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 4.5rem;

}
.name
{
  font-size: 1.5rem;

}
.discription
{
  margin: 1rem 2rem;
  font-size: 10.9px;
}
.btn
{
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: wheat;
  background-color: aqua;
  padding: 1rem;

}
@media screen and (min-width:500px) {
  .wraper-grid
  {
    grid-template-columns: repeat(2, 1fr);

  }
  
}
@media screen and (min-width:760px) {
  .wraper-grid
  {
    grid-template-columns: repeat(3,1fr);
  }
  
}