*
{
    margin: 0;
    padding: 0;
}

 .banner-image
{
    background-image: url('Images/13-55-34-351_1440x550.webp');
    height: 100vh;
    background-repeat: no-repeat;    /*it is used to remove the repeat eliment */  /* vh values is height focus. px value is widthe are focus */
    background-size: cover;       /*background-size: cover  it is used to background image are set in full screen widthe and height in responsive tyme;                         */ 
  
 
}
.header
{
    height: 36px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 60px rgb(0 0 0 / 12%);
    border-bottom: 1px solid #eee;
    display: flex;

}

.banner-icon
{
    height: 90px;
    margin-top: -23px;
}
.navigation
{
    display: flex;
    gap: 10px;
    padding-left: 18px;
    padding-top: 10px;


}
.nav-content
{
    font-size: 9px;
    padding-top: 7px;
}
.left-section
{
    display: flex;
    font-size: 10px;
    padding-left: 211px;
    margin-top: 16px;
    gap: 10px;
}
.button
{
    border-radius: 16px;
    width: 51px;
    height: 85%;
    font-size: 9px;
    background-color: #2ec66d;
    color: #fff;
    border: none;
    text-decoration: none;
}