*
{
    margin: 0;
    padding: 0;
}
body
{
   margin: 0;

}

 .banner-image
{    
    background-image: url('Images/13-55-34-351_1440x550.webp');
    height: 100vh;
    background-repeat: no-repeat;    /*it is used to remove the repeat eliment */  /* vh values is height focus. px value is widthe are focus */
    background-size: cover;       /*background-size: cover  it is used to background image are set in full screen widthe and height in responsive tyme;                         */ 
   filter: brightness(80%);  
 
}
.header
{
    height: 36px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 60px rgb(0 0 0 / 12%);
    border-bottom: 1px solid #eee;
    display: flex;


}

.banner-icon
{
    height: 90px;
    margin-top: -23px;
}
.navigation
{
    display: flex;
    gap: 10px;
    padding-left: 18px;
    padding-top: 10px;


}

.nav-content
{
    font-size: 9px;
    padding-top: 7px;
    
}
.left-section
{
    display: flex;
    font-size: 10px;
    padding-left: 149px;
    margin-top: 16px;
    gap: 10px;
}

.explore
{
    height: 13px;
    font-size: 9px;
    border: none;
}
.button
{
    border-radius: 16px;
    width: 51px;
    height: 85%;
    font-size: 9px;
    background-color: #2ec66d;
    color: #fff;
    border: none;
    text-decoration: none;
}
.text-center
{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-top: 72px;
    font-weight: bolder;
}
.million
{
    text-align: center;
    font-size: 10px;
    color: #fff;
    padding-top: 10px;
}
.Search
{
    margin-left: 165px;
    height: 28px;
    border-radius: 7px;
    width: 415px;
    margin-top: 10px;
    font-size: 9px;
    padding-left: 8px;
    border: none;
    
}
.small-text
{
    text-align: center;
    font-size: 9px;
    margin-top: 3px;
    color: #fff;
}

@media (max-width:540px) {
    .header
    {
        float: none;
        display: block;
    }
    
}

 /* @media (max-width:400px) {
    .left-section
    {
        flex-direction: column;
    }

    
}  */

/* @media (max-width:300px) {
    .header
    {
        width: 90px;
    }
    
}

@media (max-width:700px) {
    body
        {
            
        }
    
} */



